;------------------------------------------------------------------------------
;   BSD LICENSE
; 
;   Copyright(c) 2007-2017 Intel Corporation. All rights reserved.
;   All rights reserved.
; 
;   Redistribution and use in source and binary forms, with or without 
;   modification, are permitted provided that the following conditions 
;   are met:
; 
;     * Redistributions of source code must retain the above copyright 
;       notice, this list of conditions and the following disclaimer.
;     * Redistributions in binary form must reproduce the above copyright 
;       notice, this list of conditions and the following disclaimer in 
;       the documentation and/or other materials provided with the 
;       distribution.
;     * Neither the name of Intel Corporation nor the names of its 
;       contributors may be used to endorse or promote products derived 
;       from this software without specific prior written permission.
; 
;   THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS 
;   "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT 
;   LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR 
;   A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT 
;   OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
;   SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT 
;   LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, 
;   DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY 
;   THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT 
;   (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE 
;   OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
; 
;  version: RWPA_VNF.L.18.02.0-42
;------------------------------------------------------------------------------

;------------------------------------------------------------------------------
; EAL
;------------------------------------------------------------------------------
[EAL]
log_level = 7
n = 2
pci_whitelist = 00:09.0
pci_whitelist = 00:0a.0
socket_mem = 5120,0
vdev = crypto_aesni_mb0
master_lcore = 3

;------------------------------------------------------------------------------
; Crypto Options
;------------------------------------------------------------------------------
[CRYPTO]
type = SW
mask = 1
n_qp = 2

;------------------------------------------------------------------------------
; Mempools
;------------------------------------------------------------------------------
[MEMPOOL0]
cpu = 0

[MEMPOOL1]
cpu = 0

[MEMPOOL2]
cpu = 0

[MEMPOOL3]
cpu = 0

[MEMPOOL4]
cpu = 0
buffer_size = 192

;------------------------------------------------------------------------------
; LINKs
;------------------------------------------------------------------------------
[LINK0]
mac_addr = 00:00:00:00:00:06

[LINK1]
mac_addr = 00:00:00:00:00:07

;------------------------------------------------------------------------------
; RXQs
;------------------------------------------------------------------------------
[RXQ0.0]
mempool = MEMPOOL0
size = 1024

[RXQ1.0]
mempool = MEMPOOL1
size = 1024

;------------------------------------------------------------------------------
; Threads
;------------------------------------------------------------------------------
[THREAD0]
type = UPLINK_THREAD
core = s0c1
pktq_in = RXQ0.0
pktq_out = TXQ1.0 TXQ0.1
crypto_qp = 0
tls_mempool_id = 2

[THREAD1]
type = DOWNLINK_THREAD
core = s0c2
pktq_in = RXQ1.0
pktq_out = TXQ0.0 TXQ1.1
crypto_qp = 1
frag_hdr_mempool_id = 3
frag_data_mempool_id = 4

[THREAD2]
type = STATISTICS_HANDLER_THREAD
core = s0c3

;------------------------------------------------------------------------------
; Statistics
;------------------------------------------------------------------------------
[STAT]
stats_level = 3
stats_refresh_period_global_ms = 1000
stats_print_period_ms = 3000

;------------------------------------------------------------------------------
; Addresses
;------------------------------------------------------------------------------
[ADDRESSES]
vnfd_port_to_ap = 38105
vnfd_ip_to_ap = 192.168.1.103
vnfd_ip_to_wag = 192.168.1.113
vnfc_tls_ss_ip = 192.168.131.10
vnfc_tls_ss_port = 22022
wag_tun_ip = 192.168.1.130
wag_tun_mac = 01:03:04:06:08:90
vap_tun_def_mac = ff:ff:ff:ff:ff:ff
vap_tun_def_ip = 0.0.0.0
vap_tun_def_port = 0
ap_conf = ../config/ap.conf

;------------------------------------------------------------------------------
; Miscellaneous
;------------------------------------------------------------------------------
[MISCELLANEOUS]
uplink_pmd_us = 199
uplink_tls_us = 1
preload_key_store = ../config/stations.txt
tls_certs_dir = ../certs/
certs_password = MadCowBetaRelease
max_vap_frag_sz = 1432
frag_ttl_ms = 1000
no_wag = false
